.layout {
    display: grid;

    grid-template-rows: auto 1fr;
    min-height: 100vh; 
}

.layout-body {
    display: flex; 
    width: 100%; 
    box-sizing: border-box; 
    overflow-x: hidden;
    padding-top: 64px; 
}

.layout-content {
    flex-grow: 1; 
    flex-shrink: 1; 
    padding: 20px;
    overflow-y: auto;
    width: 1280px;
}
