.auth-container {
    min-height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom, #5aa3ff, #cfe8ff);

    display: flex;
    justify-content: center; 
    align-items: center;
    
    overflow-y: auto; 
    padding: 2rem 1rem; 
    box-sizing: border-box;
}

.auth-content-wrapper {
    width: 100%;
    max-width: 400px;
}
