/* SideBar.css */

.sidebar-container {
    width: 100%;
    background-color: #dbeafe; 
    height: 820px;
    margin-left: 0.5rem; 
    border-radius: 0.5rem; 
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
    min-width: 5rem; 
}

.sidebar-text {
    display: none; 
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
    padding: 1.25rem; 
    gap: 0.5rem; 
}

.sidebar-button-base {
    display: flex;
    align-items: center;
    gap: 0.5rem; 
    padding: 0.75rem 0.75rem; 
    width: 100%;
    border-radius: 0.375rem; 
    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
    cursor: pointer;
    text-align: left;
    text-decoration: none;

    background: none;
    border: none;
    color: inherit; 
}

.sidebar-icon {
    width: 1.25rem;
    height: 1.25rem;
}

.sidebar-button-active {
    background-color: #3b82f6; 
    color: white !important; 
    font-weight: 600; 
}

.sidebar-button-inactive {
    color: #374151;
    background-color: transparent;
}

.sidebar-button-inactive:hover {
    background-color: #bfdbfe;
}


@media (min-width: 640px) {
    .sidebar-container {
        width: 150px; 
    }

    .sidebar-text {
        display: block;
    }
}

@media (min-width: 1024px) {
    .sidebar-container {
        width: 300px; 
    }
}
